{
    "env": {
        "es6": true,
        "node": true,
    },
    "parserOptions": {
        "ecmaVersion": 2018,
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": 0,
        "semi": "error",
        "no-use-before-define": 0
    },
    "extends": [
        "eslint:recommended"
    ]
}
