name: Node CI
on:
  push:
    branches: master
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NAME: supertape
      FORCE_COLOR: 3
    strategy:
      matrix:
        node-version:
          - 16.x
          - 18.x
          - 20.x
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Redrun
        run: bun i redrun -g --no-save
      - name: Install
        run: bun i -f --no-save
      - name: Lint
        run: redrun fix:lint
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Typos Install
        run: cargo install typos-cli || echo 'already installed'
      - name: Typos
        run: typos --write-changes
      - name: Commit fixes
        uses: EndBug/add-and-commit@v9
        continue-on-error: true
        with:
          message: "chore: ${{ env.NAME }}: actions: lint ☘️"
      - name: Coverage
        run: redrun coverage report
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
